.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-nav-container {
  width: 90%;
  padding: 20px 0px;
}

.logo-img {
  width: 200px;
}

.sub-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 30px;
}

select {
  align-self: flex-start;
  width: 300px;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
}

.projects-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.loader-container {
  flex-grow: 1;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.failure-img {
  width: 400px;
}

.retry-btn {
  background-color: #328af2;
  height: 40px;
  width: 100px;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}
